.todo-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.todo-header {
  background-color: #4caf50;
  color: white;
  text-align: center;
  padding: 10px;
  border: 1px solid #ddd;
}

.todo-row:nth-child(even) {
  background-color: #f9f9f9;
}

.todo-row.completed-task {
  background-color: #ffdddd;
}

.todo-row:hover {
  background-color: #f1f1f1;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  font-size: 1rem;
  box-sizing: border-box;
}

button:hover {
  background-color: #45a049;
}

.sort-button {
  border: none;
  background: none;
  color: #333;
  cursor: pointer;
  font-size: 1rem;
  margin-left: 5px;
  padding: 0;
}

.sort-buttons-container {
  display: none;
}

.sort-button:hover {
  color: #007bff;
}

.todo-edit {
  color: #001aff;
  cursor: pointer;
}

.todo-edit:hover {
  text-decoration: underline;
}

.todo-delete {
  color: #d41b2e;
  cursor: pointer;
}

.todo-delete:hover {
  text-decoration: underline;
}

.confirmation-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #ddd;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.confirmation-dialog-content {
  text-align: center;
}

.confirmation-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.confirmation-button-yes {
  background-color: #4caf50;
  color: white;
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.confirmation-button-no {
  background-color: #f44336;
  color: white;
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.confirmation-button-yes:hover {
  background-color: #45a049;
}

.confirmation-button-no:hover {
  background-color: #c82333;
}

.todo-cell {
  flex: 1 1 auto;
  padding: 0.5rem;
  border: 1px solid #ddd;
  text-align: center;
  box-sizing: border-box;
}

.todo-row.completed {
  background-color: #d4edda;
  text-decoration: line-through;
  color: #ff0000;
}

.input-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.input-text {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 10px;
  flex: 1;
  max-width: 300px;
  font-size: 1rem;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .table-container {
    width: 100%;
    overflow-x: auto;
  }
  .table-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 0.875rem;
    background-color: #4caf50;
    color: white;
  }
  .table-header div {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border: 1px solid #ddd;
    box-sizing: border-box;
  }
  .table-header div .sort-button {
    display: none;
  }
  .table-header:not(.table-header-description):not(.table-header-creation-time):not(.table-header-id) {
    display: none;
  }
  .table-row {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1px;
    width: 100%;
  }
  .table-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0.5rem;
    border: 1px solid #ddd;
    text-align: center;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  .table-cell::before {
    content: attr(data-label);
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }
  .sort-buttons-container {
    display: none;
  }
}
@media (max-width: 768px) {
  .todo-table {
    display: flex;
    width: 100%;
    overflow-x: auto;
  }
  .todo-header {
    display: none;
  }
  .sort-buttons-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    justify-content: center;
  }
  .sort-button {
    margin: 5px;
    padding: 0.5rem 1rem;
    font-size: 0.75rem;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
  }
  .sort-button:hover {
    background-color: #45a049;
  }
  #todoTableBody {
    width: 100%;
  }
  .todo-row {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
  }
  .todo-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0.5rem;
    border: none;
    text-align: center;
    position: relative;
  }
  .todo-cell::before {
    content: attr(data-label);
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }
  .todo-cell {
    border-bottom: 1px solid #ddd;
  }
  .todo-row:last-child .todo-cell {
    border-bottom: none;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

.container {
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.disabled-element {
  pointer-events: none;
  opacity: 0.5;
}/*# sourceMappingURL=main.css.map */