* {
  direction: ltr !important;
}

.bi-heart:hover {
  cursor: pointer;
}

.bi-heart {
  color: #000;
}

.bi-heart-fill {
  color: red;
}

.card-img-top {
  height: 10vh;
  object-fit: cover;
  border: 2px solid #000;
  border-radius: 0.25rem;
}