.message-area {
    display: none;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;

    .info {
        border-color: #4CAF50;
        color: #4CAF50;
    }

    .error {
        border-color: #F44336;
        color: #F44336;
    }
}