/* -------------------------------------------------------------------------- */

/* אתחול */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgreen;
}

.pageContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, auto-fill);
    height: 100vh;
}

/* -------------------------------------------------------------------------- */

/* כותרת כדי לחזור לאתר הראשי */
.header {
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: rgb(25, 135, 84);
    grid-column: 1/-1;
    height: 100px;
}

/* קישור לאתר הראשי */
.header a {
    font-size: 1.3em;
    color: rgba(90, 22, 87);
    font-weight: bold;
    background-color: rgb(25, 135, 84);
    margin: 0 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding-right: 40px;
}

.header a img {
    width: 70px;
    height: 70px;
    margin: 5px 20px;
    border-radius: 25%;
}

/* -------------------------------------------------------------------------- */

/* הסבר על הפרויקט */
.headAndP {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightgreen;
    grid-column: 1/-1;
    grid-row: 2/3;
}

/* כדי שהכותרת והפסקה יהיו באמצע האלמנט */
.headAndP .h1P {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.headAndP h1 {
    text-align: center;
    color: rgba(90, 22, 87);
    font-size: 2rem;
    margin: 5px auto;
}

.headAndP p {
    text-align: center;
    color: rgba(104, 61, 22);
    font-size: 1.1rem;
    line-height: 2;
    padding: 0 7px;
    width: 50%;
    margin-bottom: 1vh;
    direction: rtl;
}

/* -------------------------------------------------------------------------- */

/* כניסה לפרויקט */
.headAndP .watch {
    display: flex;
    flex-direction: row;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.headAndP .watch a {
    text-align: center;
    text-decoration: none;
    border: 3px groove black;
    padding: 5px;
    border-radius: 15px;
    color: black;
    background-color: aliceblue;
    font-size: 1.1rem;
    margin-bottom: 20px;
    margin-left: 10px;
}

/* -------------------------------------------------------------------------- */

/* תוכנות שעבדתי איתם לפרויקט */
.knowledge {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(25, 135, 84);
    box-shadow: 3px 3px 3px chartreuse;
    grid-row: 3/4;
    grid-column: 1/-1;
}

.knowledge img {
    width: 10%;
    height: 70%;
}

/* -------------------------------------------------------------------------- */

/* תמונת הפרויקט */
.project {
    grid-column: 1/-1;
    grid-row: 4/5;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgreen;
}

/* כדי שהתמונה תיהיה באמצע */
.imgProject {
    height: 90%;
    width: 80vw;

}

.imgProject img {
    height: 100%;
    width: 100%;
}

/* -------------------------------------------------------------------------- */

/* זכויות יוצרים */
.copyRight {
    background-color: black;
    text-align: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* -------------------------------------------------------------------------- */