.time-box {
    width: 18rem;
    height: 18rem;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0.2rem solid #ddd;
    background-color: rgba(255, 255, 255, 0.1);
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.time-image {
    display: none;
}

.time-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

.time-category {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem 0;
}


.detail-category,
.detail-value {
    font-weight: bold;
    width: auto;
    overflow-wrap: break-word;
    text-align: center;
    margin: 0.5rem;
}

.detail-value {
    margin-left: 0.5rem;
}


.time-category .detail-category {
    margin-right: 0.5rem;
}