.weather-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.weather-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#weatherDescription {
    width: 100%;
    max-width: 1000px;
    min-width: 50vw;
    text-align: center;
    height: auto;
    margin: 0 auto;
    padding: 10px;
}

#weatherDescription .weather-box {
    border: none;
    height: auto;
    padding: 10px;
    margin-bottom: 10px;
}

.time-and-wind-wrapper {
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.weather-details-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 15px;
    font-weight: bold;
    margin-top: 4vh;
}