.weather-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.weather-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#weatherDescription {
    width: 100%;
    max-width: 1000px;
    min-width: 50vw;
    /* Ensure it takes at least half of the viewport width */
    text-align: center;
    height: auto;
    /* Ensure it adjusts height based on content */
    margin: 0 auto;
    /* Center horizontally */
    padding: 10px;
    /* Adjust padding if needed */
}

#weatherDescription .weather-box {
    border: none;
    /* Remove the border */
    height: auto;
    /* Allow height to adjust based on content */
    padding: 10px;
    /* Adjust padding if needed */
    margin-bottom: 10px;
    /* Ensure spacing between boxes */
}

.time-and-wind-wrapper {
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.weather-details-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3 boxes per row */
    grid-template-rows: repeat(2, auto);
    /* 2 rows */
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 15px;
    font-weight: bold;
    margin-top: 4vh;
}