// אתחול
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// ----------------------------------------------------------------------------------------------------------- 

// עימוד
.container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;

    // ----------------------------------------------------------------------------------------------------------- 

    // צד ימין
    .right {
        width: 40%;
        display: flex;
        flex-direction: column;
    }

    // ----------------------------------------------------------------------------------------------------------- 

    // צד שמאל
    .left {
        width: 60%;
        display: flex;
        flex-direction: column;
        position: relative;
        height: 100%;
    }
}